---
import BaseLayout from '../layouts/BaseLayout.astro'
//JS
---
<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
    <h1>Hola este es el blog de carlos</h1>
</BaseLayout>